<div class="card card-container col-md-4 well well-sm" style="margin: 0 auto; float: none;">
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" name="signinForm" data-ng-submit="signin(credentials)">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" name="email" class="form-control" placeholder="Email address" data-ng-model="credentials.email" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" data-ng-model="credentials.password" required>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" data-ng-model="credentials.rememberMe"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
        Forgot the password?
    </a>
</div><!-- /card-container -->
