<div class="row text-center">
    <div class="col-md-4 well well-sm" style="margin: 0 auto; float: none;">
        <legend> Sign up!</legend>
        <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                           required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" name="email" placeholder="Your Email" type="email" />
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <input class="form-control" name="repeatedPassword" placeholder="Repeat password" type="password" />

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up
            </button>
        </form>
    </div>
</div>