<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.0" targetFramework="net45" />
  <package id="Akka.Persistence" version="1.0.0-pre1504092226" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RxJS-Aggregates" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-All" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Binding" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Coincidence" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Experimental" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-JoinPatterns" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Main" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Testing" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-Time" version="2.5.2" targetFramework="net45" />
  <package id="RxJS-VirtualTime" version="2.5.2" targetFramework="net45" />
</packages>