source https://nuget.org/api/v2

nuget Akka.Logger.Serilog
nuget Akka.Monitoring.StatsD
nuget Akka.Persistence
nuget Akka.TestKit.Xunit
nuget BCrypt-Official
nuget Microsoft.AspNet.SignalR.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.StaticFiles